<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Week</key>
	<array>
		<dict>
			<key>Name</key>
			<string>日</string>
			<key>Color</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>月</string>
			<key>Color</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>火</string>
			<key>Color</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>水</string>
			<key>Color</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>木</string>
			<key>Color</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>金</string>
			<key>Color</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>土</string>
			<key>Color</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
